@model List<mockapi.Net.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Id </th>
        <th>Nome </th>
        <th>Descrição </th>
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Id</td>
            <td>@d.Nome</td>
            <td>@d.Descricao</td>
        </tr>
    }
</table>  